@*Define model (the data type youn want to display in this file)*@
@*Here: List of movies (but should be as IEnumerable (why?)), because this is what we take in the controller as parameter (var data)*@

@model IEnumerable<Movie>

@*Define ViewData
    (the data that you want have in the browser tab, or
    properties tha  you want to use in your view, etc.)*@

@{
    ViewData["Title"] = "List of Movies";
}

@*ViewData["Title"] is used in the _Layout.cshtml file (see element <title> in the <head>)*@



@*Write code*@
<div class="row">
    <div class="col-md-8 offset-2">

        <table class="table">
            <thead>
                @*To center the text in table header insert class with value text-center*@
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ImageURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img  src="@item.ImageURL" alt="@item.Name" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

